/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
 */
 body {
  margin: 0; /* Reset margin to avoid default browser styles */
  padding: 0 10px; /* Small padding on the left and right sides */
}
